<!DOCTYPE html>
<!-- Boiler plate-->
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script
            include ../function/js.js
        style
            include ../stylesheets/style.css
        title Document
    body(translate="true") <!-- everythig that is below will be extended -->
        block content